@import url('https://fonts.googleapis.com/css?family=Cabin');

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  font-family: 'Cabin', sans-serif;
}

main {
  padding: 5rem 0;
}

/* Goolgle Maps */
#map {
  height: 100%;
  height: 500px;
}

/* Error Message */
.error p {
  display: none;
  background-color: #FF0000;
}

/* Location Info */
.info {
  display: none;
  background-color: #DCF7F7;
}

