@import url('https://fonts.googleapis.com/css?family=Cabin');

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main {
  font-family: 'Cabin', sans-serif;
}

main {
  padding: 2.5rem 0;
}

.information-header {
  padding-bottom: 2.5rem;
}

.information-header h2 {
  font-size: 1.6rem;
}

.map-information {
  padding-top: 1rem;
}

#locationCard {
  display: none;
}

/* Location Info */
#infoCard {
  display: none;
}

.card {
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 0;
}

.card-body {
  align-items: center;
}

/* Goolgle Maps */
#map {
  height: 30rem;
}
