<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <!-- Mobile ViewPort -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Home | GetThereSafe</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}" type="text/css"> <!-- Custom -->
  </head>
  <!-- Body -->
  <body>
    <!-- Navigation -->
    <header>
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static',filename='images/logo.png') }}" width="60" height="30" class="d-inline-block align-top"
              alt="GetThereSafe">
            GetThereSafe
          </a>
        </div>
      </nav>
    </header>

    <!-- Main -->
    <main>
      <!-- Information -->
      <section class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-sm-12">
            <h1>Find the route with the most lighting at night!</h1>
            <h2>Don't get frightened on the way home.</h2>
            <p>Please type in your location and your desired destination.</p>
          </div>
        </div>
      </section>
      <!-- Form -->
      <section class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12">
            <form>
              <div class="form-group">
                <input id="starting_point" type="text" class="form-control"
                       placeholder="Start - 172 Wilson St Victoria">
              </div>
              <div class="form-group">
                <input id="ending_point" type="text" class="form-control"
                       placeholder="Destination - 1180 Fort St Victoria">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 d-flex justify-content-end">
            <button type="submit" id="bttn" class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>
      </section>
      <!-- Information -->
      <section class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-sm-12">
            <!-- Instructions -->
            <p>Click on the map to show location.</p>
            <!-- Unknown -->
            <p id="mapLocation"></p>
            <!-- Disclaimer -->
            <p>Contains information licensed under the Open Government Licence – City of Victoria.</p>
            <!-- Error Message -->
            <div class="error">
              <p>Could Not Load, Please Try Again.</p>
            </div>
            <!-- Information on Location -->
            <div class="info">
              <p id="info-text"></p>
            </div>
          </div>
        </div>
      </section>
      <!-- Google Maps -->
      <section class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12">
            <div id="map"></div>
          </div>
        </div>
      </section>
    </main>

    <!-- Scripts -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script> <!-- Jquery -->
    <script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Custom -->
    <!-- Google Maps --><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkJzJGrd39UOiSYj3MGqYlAOXkfTll2LI&callback=initMap" async defer></script> <!-- Google Map -->
  </body>
</html>
